// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,900|Material+Icons');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~plyr/src/sass/plyr.scss';

.text-facebook-blue{
    color:#3b5998;
}
.text-twitter-blue{
    color:#1DA1F2;
}
.text-instagram-pink{
    color:#DD2A7B;
}
.text-linkedin-blue{
    color:#006192;
}
.text-thin{
    font-weight: 100;
}
.text-bold{
    font-weight: 700;
}
.about-para{
    line-height: 40px;
}
.btn-rounded{
    border-radius: 30px !important;
}
.nav-link{
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
}
.spot{
    position: absolute;
    width:1px;
    height:1px;
    border-radius: 50%;
    padding:2px;
    right:0;
    top:10px;
}
.img-thumbnail{
    width:100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}
.disabled{
    opacity: 0.5;
}

/**
 * Grid styles
 */
.video-grid.front-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em 2em;
}

ul.video-list {
  display: flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li.video {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
	width: 33.333333333%;
	width: -webkit-calc(100% / 3);
	width: calc(100% / 3);
  border: solid 0.2em transparent;
  
  & a {
    outline: none;
  }
      
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color .15s;
  }
  
  & figure {
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    & img {
      display: block;
      max-width: 100%;
      height: auto;
      opacity: 0;
      transform: scale(0.5);
      transition: all .20s;
    }

    & figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0,0,0,0.6);
      color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
      padding: 1rem;
      transform: translateY(0);
      opacity: 1;
      transition: all .20s;
    }
  }
  
  &:hover {
    & figure {
      & img {
        opacity: 1;
        transform: scale(1);
      }
      
      & figcaption {
        opacity: 0;
        transform: translateY(50%);
      }
    }
  }
  
  &:hover:before {
    background-color: rgba(0,0,0,0.3);
  }
}
.landing-title{
  font-size: 6vmin;
  line-height: 6vmin;
}
@media screen and (max-width: 800px) {
	li.video {
		width: 50%;
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
  }
  .landing-title{
    font-size: 10vmin;
    line-height: 10vmin;
  }  
}

@media screen and (max-width: 640px) {
	li.video {
		width: 100%;
	}
}
.jumbotron{
  padding: 0;
}
.overlay{
  padding: 4rem;
  background-color: rgba($color: #000000, $alpha: 0.5)
}